<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<span><%= "*" * @restaurant.rating %></span>
<br>
<%= link_to "Delete this restaurant", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to restaurants", restaurants_path %>
